<% include partials/header %>
<div class="ui main text container segment">
    <h1 class="ui huge header">Create a New Blog</h1>
</div>
<form action="/blogs" method="POST">
    <div class="form-group">
        <input class="form-control" type="text" name="blog[title]" placeholder="Blog Title">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="blog[image]" placeholder="Image URL">
    </div>
    <div class="form-group">
        <textarea class="form-control" name="blog[body]" placeholder="Blog Body"></textarea>
    </div>
    <div class="form-group">
        <input type="submit">
    </div>
</form>
<% include partials/footer %>